#!/bin/bash
# Export OpenVPN environment
. {{ easy_rsa_dir }}/vars
export KEY_EMAIL="{{ clients['email'] }}"

CLIENT_KEYS_DIR="${EASY_RSA}/client-keys"
BASE_CONFIG="${CLIENT_KEYS_DIR}/base.conf"

# Generate client key file
$PKITOOL --batch {{ clients['name'] }}

# Concat key file to ovpn file
cat ${BASE_CONFIG} \
    <(echo -e '<ca>') \
    ${KEY_DIR}/ca.crt \
    <(echo -e '</ca>\n<cert>') \
    ${KEY_DIR}/{{ clients['name'] }}.crt \
    <(echo -e '</cert>\n<key>') \
    ${KEY_DIR}/{{ clients['name'] }}.key \
    <(echo -e '</key>\n<tls-auth>') \
    ${KEY_DIR}/ta.key \
    <(echo -e '</tls-auth>') \
    > ${CLIENT_KEYS_DIR}/{{ clients['name'] }}.ovpn

# Self remove
rm -- "$0"