[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd --config-file {{ config_dir }}/etcd.conf
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target