{
    "CN": "apiserver",
    "hosts": [
        "*.{{ root_dns }}",
        "localhost",
        "127.0.0.1",
        "kubernetes",
        "kubernetes.default",
        "kubernetes.default.svc",
        "kubernetes.default.svc.cluster",
        "kubernetes.default.svc.cluster.local"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ country }}",
            "L": "{{ location }}",
            "O": "{{ organization }}",
            "OU": "{{ organization_unit }}"
        }
    ]
}