{
    "CN": "{{ common_name }}",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ country }}",
            "L": "{{ location }}",
            "O": "{{ organization }}",
            "OU": "{{ organization_unit }}"
        }
    ]
}