{
    "CN": "system:kube-controller-manager",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "{{ country }}",
            "L": "{{ location }}",
            "O": "system:kube-controller-manager",
            "OU": "{{ organization_unit }}"
        }
    ]
}