*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -s {{ vpn_network }} -o {{ internal_int }} -j MASQUERADE
-A POSTROUTING -s {{ local_network }} -o {{ external_int }} -j MASQUERADE
COMMIT
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:BROADCAST - [0:0]
:CHK_SPOOFING - [0:0]
:FRAGMENT - [0:0]
:PORT-SCAN - [0:0]
:SPOOFING - [0:0]
:STEALTH-SCAN - [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -i {{ vpn_int }} -j ACCEPT
-A INPUT -p udp -m udp --dport 1194 -m conntrack --ctstate NEW -m comment --comment "Allow OpenVPN" -j ACCEPT
-A INPUT -p tcp -m tcp --dport 22 -m conntrack --ctstate NEW -m comment --comment "Allow SSH" -j ACCEPT
-A INPUT -p tcp -m tcp -m multiport --dports 80,443 -m conntrack --ctstate NEW -m comment --comment "Allow HTTP,HTTPS" -j ACCEPT
-A INPUT -i {{ internal_int }} -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP
-A INPUT -d 255.255.255.255/32 -j BROADCAST
-A BROADCAST -j DROP
-A CHK_SPOOFING -j SPOOFING
-A FRAGMENT -j DROP
-A PORT-SCAN -m hashlimit --hashlimit-upto 1/sec --hashlimit-burst 10 --hashlimit-mode srcip --hashlimit-name PORT-SCAN -j RETURN
-A PORT-SCAN -j DROP
-A SPOOFING -j DROP
-A STEALTH-SCAN -j DROP
-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -s {{ vpn_network }} -d {{ local_network }} -i {{ vpn_int }} -o {{ internal_int }} -m conntrack --ctstate NEW -j ACCEPT
-A FORWARD -i {{ internal_int }} -o {{ external_int }} -s {{ local_network }} -m conntrack --ctstate NEW -j ACCEPT
COMMIT
