[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} \
  --allow-privileged=true \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path={{ k8s_logs_path }}/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} \
  --cert-dir={{ k8s_certs_path }} \
  --client-ca-file={{ k8s_certs_path }}/ca.pem \
  --enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,Priority,ResourceQuota,PodSecurityPolicy \
  --etcd-cafile={{ k8s_certs_path }}/ca.pem \
  --etcd-certfile={{ k8s_certs_path }}/apiserver-etcd-client.pem \
  --etcd-keyfile={{ k8s_certs_path }}/apiserver-etcd-client-key.pem \
  --etcd-servers=https://{{ etcd_url }}:2379 \
  --insecure-port=0 \
  --secure-port=6443 \
  --event-ttl=12h \
  --kubelet-certificate-authority={{ k8s_certs_path }}/ca.pem \
  --kubelet-client-certificate={{ k8s_certs_path }}/apiserver-kubelet-client.pem \
  --kubelet-client-key={{ k8s_certs_path }}/apiserver-kubelet-client-key.pem \
  --kubelet-https=true \
  --runtime-config=api/all \
  --requestheader-client-ca-file={{ k8s_certs_path }}/ca.pem \
  --proxy-client-cert-file={{ k8s_certs_path }}/front-proxy-client.pem \
  --proxy-client-key-file={{ k8s_certs_path }}/front-proxy-client-key.pem \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --service-account-key-file={{ k8s_certs_path }}/sa.pem \
  --service-cluster-ip-range={{ service_cidr }} \
  --service-node-port-range={{ nodeport_range }} \
  --tls-cert-file={{ k8s_certs_path }}/apiserver.pem \
  --tls-private-key-file={{ k8s_certs_path }}/apiserver-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target