[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
	--bind-address=127.0.0.1 \
  --leader-elect=true \
  --kubeconfig={{ kubeconfig_path }}/scheduler.kubeconfig \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target