[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --bind-address=127.0.0.1 \
  --allocate-node-cidrs=true \
  --cluster-cidr={{ cluster_cidr }} \
  --cluster-name={{ cluster_name }} \
  --cluster-signing-cert-file={{ k8s_certs_path }}/ca.pem \
  --cluster-signing-key-file={{ k8s_certs_path }}/ca-key.pem \
  --authentication-kubeconfig={{ kubeconfig_path }}/controller-manager.kubeconfig \
  --authorization-kubeconfig={{ kubeconfig_path }}/controller-manager.kubeconfig \
  --kubeconfig={{ kubeconfig_path }}/controller-manager.kubeconfig \
  --leader-elect=true \
  --requestheader-client-ca-file={{ k8s_certs_path }}/front-proxy-ca.pem \
  --root-ca-file={{ k8s_certs_path }}/ca.pem \
  --service-account-private-key-file={{ k8s_certs_path }}/services-accounts-key.pem \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target